body {
  font-family: 'Cinzel Decorative', cursive;
}

#navbar {
  background-color: #f2f2f2;
  position: fixed;
  width: 100%;
  text-align: right;
  display: block;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
}

#navbar li {
  display: inline-block;
}

#navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #111;
    color: white;
}

#welcome-section {
  top: 0;
  padding-top: 45vh;
  background-color: #f2f2f2;
  text-align: center;
  min-height: 55vh;
  margin: auto;
}

#welcome-section img {
  border-radius: 50%;
  margin-bottom: 20px;
}

#welcome-section .info {
  width: 50%;
  margin: auto;
}

#projects {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  text-align: center;
  padding-bottom: 50px;
}

#projects h2 {
  padding-top: 50px;
  padding-bottom: 20px;
}

.card{
  position: unset;
}

.project-tile img {
  width: 280px;
  border: 1px solid #555;
}

#contact {
  background-color: #555;
}

.project-section,
#profile-link {
    grid-column: 1 / 3;
}


#profile-link {
  /* width: 100px; */
  margin: auto;
}

#profile-link button {
  border-radius: 5%;
  padding: 5px;
}

#contact {
  text-align: center;
  padding-bottom: 50vh;
}

#contact h1 {
  padding-bottom: 20px;
}

#contact a {
  display: inline-block;
  width: 100px;
  margin: 0 35px 45px 35px;
  height: 100px;
  background-color: white;
  line-height: 100px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 10px 5px 5px black;
}

#contact a:hover {
  background-color: #007bff;
  color: white;
}

@media (max-width: 813px) {
  #navbar li a {
    padding: 14px 7px;
    font-size: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  #welcome-section {
    padding-top: 35vh;
    min-height: 100vh;
  }

  #welcome-section .info {
    width: auto;
  }

  .card.mx-auto.project-tile {
    width: 78vw;
    margin: 18px 0;
  }

  #projects {
    grid-template-columns: auto;
  }


  .project-section, #profile-link {
    grid-column: 1 / 2;
  }

  .project-tile {
    padding: 15px 0;
  }

  #contact {
    height: 100vh;
    padding: 15px;
  }

  #contact h2 {
    padding: 50px;
  }

  #contact a {
    width: 75px;
    height: 75px;
    line-height: 75px;
  }
}


